/*DOCUMENTO CSS*/

.cabecera { text-align: center; }

h1 {font-family: sans-serif;
font-size: 70px;
color: rgb(247, 165, 217);}

.container { display: flex;
             width: 90%;
             margin: auto; }

a.item { width: 33.33%;
         min-height: 200px;
         text-align: center;
         font-size: 2.4em;}


@media only screen and (min-width: 600px) { .container {width: 90%;}
a.item {color: rgb(247, 165, 217);
font-size: 70px;}

